#corpo{
    background-color: blue;
    background-image: linear-gradient( to bottom, blue 40%, white);;
    background-size: cover;
    /*width: 100%;
    height: 390px;*/
    font-size: 12px;
    padding-bottom: 10px;
}
/*Configuração do topo, onde se observará a faze do Jogo e o valor do prêmio*/
.topo{
}
.fase{
    font-size: 10px;
    margin-left: 10px;
    color: white;
    display: inline-block;
}
.premio{
    font-size: 8px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    display: inline-block;
    float: right;
}

/*CONFIGURAÇÃ DAS PERGUNTAS E RESPOSTAS*/
.pergunta{
    border: solid 2px white;
    margin: 10px 5px;
    padding: 10px;
    color: white;
    background-color: red;
}
.respostas{
    color: white;
}
.letraA{
    border: solid 2px white;
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    margin-left: 5px;
}
.respostaA{
    border: solid 2px white;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    height: auto;
    width: 130px;
}
.respB{
    margin-top: 3px;
}
.letraB{
    border: solid 2px white;
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    margin-left: 5px;
}
.respostaB{
    border: solid 2px white;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    height: auto;
    width: 130px;
}
.respC{
    margin-top: 3px;
}
.letraC{
    border: solid 2px white;
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    margin-left: 5px;
}
.respostaC{
    border: solid 2px white;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    height: auto;
    width: 130px;
}
.respD{
    margin-top: 3px;
}
.letraD{
    border: solid 2px white;
    display: inline-block;
    width: 25px;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    margin-left: 5px;
}
.respostaD{
    border: solid 2px white;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    background-color: red;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    height: auto;
    width: 130px;
}

/* parte final o botão de entrega */
.fim{
    margin: 5px;
    text-align: center;
}
.botao{
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: yellow;
    border-radius: 50px;
}
.botao:active{
    background-color: blue;
    color: white;
    transition: 0.1s;
}
/*Botão de iniciar*/
.comecar{
    background-color: yellow;
    width: 100px;
    margin-left: 5px;
}